@{
  Layout = "_Layout";
}



<h1>Add Order</h1>

@if (@Model.Count == 0)
{
  <h2>No Vendors have been added yet!</h2>
}

  
<form action="/orders" method="post">
  <select name="orderVendorName">
      @foreach (Vendor element in Model)
      {
        <option value=@element.Id>@element.Name</option>
      }
  </select>
  
  
  @* <select name="orderVenorName">
    <ul>
      @foreach (Vendor element in Model)
      {
        <li><option value=@element.Id>@element.Name</option></li>
      }
    </ul>
  </select> *@

  <label for="orderDate">Order Date</label>
  <input id="orderDate" name="orderDate" type="date">

  <label for="deliveryForDate">Delevery-For Date</label>
  <input id="deliveryForDate" name="deliveryForDate" type="date">



  <label for="ryeLoaf">Rye Loaf</label>
  <input id="ryeLoaf" name="ryeLoaf" type="number">

  <label for="wheatLoaf">Wheat Loaf</label>
  <input id="wheatLoaf" name="wheatLoaf" type="number">

  <label for="gfLoaf">Gluten Free Loaf</label>
  <input id="gfLoaf" name="gfLoaf" type="number">

  <label for="croissant">Gluten Free Loaf</label>
  <input id="croissant" name="croissant" type="number">

  <label for="baklava">Baklava</label>
  <input id="baklava" name="baklava" type="number">

  <label for="danish">Danish</label>
  <input id="danish" name="danish" type="number">

  <button type="submit">Add</button>
</form>

<p><a href="/vendors">Back to Vendors</a></p>
<p><a href="/orders">Orders</a></p>
<p><a href="/">Home</a></p>